apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: elib-to-ebook
  namespace: elib-to-ebook
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.29.83
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  values:
    TZ: Asia/Yekaterinburg
    image:
      repository: onlyfart/elib2ebookweb
      pullPolicy: IfNotPresent
      tag: 2.8.2
    service:
      main:
        enabled: true
        type: ClusterIP
        ports:
          main:
            enabled: true
            port: 8080
            protocol: tcp
            targetPort: 8080
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: elib2ebook.${LOCAL_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          certManager:
            certificateIssuer: fiveoseven
            enabled: true
          homepage:
            enabled: true
            icon: mdi-book-arrow-down-outline
            name: Elib2Ebook Web
            description: Инструмент для сохранения любой доступной книги с сайтов в форматах epub, fb2, cbz
            group: Media
            widget:
              enabled: false
    securityContext:
      container:
        # TODO: fix this here
        # https://github.com/OnlyFart/Elib2Ebook/blob/a0ed5c46a89df96feb69460f89420fff38fd1928/Elib2EbookWeb/Components/Pages/Home.razor#L32
        # make PR
        runAsUser: 0
        runAsGroup: 0
        readOnlyRootFilesystem: false
        runAsNonRoot: false
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                COMPlus_EnableDiagnostics: 0
              probes:
                liveness:
                  enabled: true
                  path: /
                  type: tcp
                readiness:
                  enabled: true
                  path: /
                  type: tcp
                startup:
                  enabled: true
                  path: /
                  type: tcp
        replicas: 1
        type: Deployment
