# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: booklore
  namespace: booklore
spec:
  interval: 15m
  chart:
    spec:
      chart: booklore
      version: 1.11.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: booklore
  values:
    TZ: Asia/Yekaterinburg
    credentials:
      backup:
        accessKey: ${VOLSYNC_ACCESS_KEY}
        bucket: backups.booklore
        encrKey: "${VOLSYNC_ENCR_KEY}"
        name: backup
        path: ""
        secretKey: ${VOLSYNC_SECRET_KEY}
        type: s3
        url: ${VOLSYNC_URL}
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: booklore.${LOCAL_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          certManager:
            certificateIssuer: fiveoseven
            enabled: true
          homepage:
            enabled: true
            group: Arrrelated
            widget:
              enabled: false
    persistence:
      data:
        volsync:
          - credentials: backup
            name: backup
            dest:
              enabled: true
            src:
              enabled: true
            type: restic
      books:
        type: nfs
        enabled: true
        readOnly: false
        path: /mnt/big-one/books/booklore
        mountPath: /books
        server: ${NFS_SERVER}
      bookdrop:
        type: nfs
        enabled: true
        readOnly: false
        path: /mnt/big-one/books/bookdrop
        mountPath: /bookdrop
        server: ${NFS_SERVER}
