kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: longhorn-cnpg
provisioner: driver.longhorn.io
allowVolumeExpansion: true
reclaimPolicy: Delete
volumeBindingMode: Immediate
parameters:
  numberOfReplicas: "1"
  backupTargetName: default
  dataEngine: v1
  # recommended for already replicated databases
  # https://longhorn.io/docs/1.10.1/best-practices/#io-performance
  dataLocality: strict-local
  disableRevisionCounter: 'true'
  fromBackup: ''
  fsType: ext4
  staleReplicaTimeout: '30'
  unmapMarkSnapChainRemoved: ignored
