kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: longhorn-cnpg
provisioner: driver.longhorn.io
allowVolumeExpansion: true
reclaimPolicy: Delete
volumeBindingMode: Immediate
parameters:
  # cnpg runs with two replicas by default
  numberOfReplicas: "1"
  backupTargetName: default
  dataEngine: v1
  # strict-local is recommended for already replicated databases
  # but seem to disable automigration to local storage
  # https://longhorn.io/docs/1.10.1/best-practices/#io-performance
  dataLocality: best-effort
  disableRevisionCounter: 'true'
  fromBackup: ''
  fsType: ext4
  staleReplicaTimeout: '30'
  unmapMarkSnapChainRemoved: ignored
